<div class="parent-container">
  <div class="content-wrapper">
    <div class="menu-bar">
      <%= render 'admin-shared/admin-side-bar' %>
    </div>

    <div class="preview preview-complete">
      <h1>In Progress, please Test Stock, Auction and User Tabs for now</h1>
    </div>
  </div>
</div>
