<h1>Payment Failed!</h1>
<p>Hello <%= @user.full_name %>,</p>
<p>This is to notify that your payment has been failed and youn security deposit amount is charged. Please contact support team as soon as possible otherwise the car will be sold to next user in the queue!</p>
