<div class="topnav" id="myTopnav">
  <div class="nav-brand">
    <%= image_tag("logo.png", alt: "Logo", class: "logo") %>
    <div class="text">
      <div class="line1">GRANITE</div>
      <div class="line2">Auction</div>
    </div>
  </div>

  <a href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <a href="#Cars">Cars</a>

  <div class="search">
    <form action="#">
      <input type="text" placeholder="Search Cars" name="search">
    </form>
  </div>

  <div class="nav-buttons">
    <a href="/users/sign_up" class="signup-button"> <%= image_tag("profile.png", alt: "Logo", class: "logo") %> Sign Up </a>
    <a href="/users/sign_in" class="signup-button"> <%= image_tag("profile-tick.png", alt: "Logo", class: "logo") %> Login </a>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    
  </div>


  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
