<style>
  .parent-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 80px;
  }
  .menu-bar {
    width: 15%;
    background-color: white; /* Just for visualization */
  }
  .preview {
    width: 85%;
    background-color: white;
    justify-content: center;
  }
</style>

<div class="parent-container">
  <div class="menu-bar">
    <%= render 'admin-shared/admin-side-bar' %>
  </div>
  
  <div class="preview">
    <%= render 'create-car-form', car: @car %>
  </div>
</div>

