<div class="parent-container">
  <div class="content-wrapper">
    <div class="menu-bar">
      <%= render 'admin-shared/admin-side-bar' %>    
    </div>

    <div class="preview preview-complete">
      <%= render 'create-car-form', car: @car, myClass: "custom-class" %>    
    </div>
</div>